* {
    text-decoration: none;
    padding: 0 px;
}

body {
    margin: 0 px;
    padding: 0 px;
    font-family: monospace;
}

.kertas {
    width: 1100px;
    margin: auto;
    position: relative;
    list-style-type: : none;
}



.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom:1px solid #36bf6b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    list-style-type: none;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    font-size: 20px;
    font-family: monospace;
    color: black;
  
}

.kolombio {
      margin-top: 50px;
    margin-bottom: 50px;
}

.kolombio {
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    border-style: groove;
    border-color: orange;
    color: orange;
    border-radius: 30px;
}

.bi {
    font-weight: bold;
    border: groove;
}

h2 {
    font-family: monospace;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: orange;
    text-decoration: none;
}


p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 20%;
    margin: 0 auto;
}

.kartu-tutor img {
    width: 80%;
    border-radius: 50%;
}

.kartu-tutor p {
    font-family: monospace;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364f6b;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 20%;
    margin: 0 auto;
}

.kartu-partner img {
    width: 150px;
    border-radius: 50%;
}

#contact {
    padding:60px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin:auto;

}

.footer-section {
    width: 100%;
    margin: 0 auto;
}

h3 {
    font-family: monospace;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .kertas {
        width: 90%;
    }


    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 50%;
        height: auto;
    }

    .kartu-tutor {
        width: 50%;
    }

    .kartu-partner {
        width: 50%;
    }
}
.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.tombol-menu .garis {
    height: 3px;
    background-color: orange;
}

@media screen and (max-width: 991.98px) {

    .tombol-menu {
        display: flex;
    }
    nav .menu {
        display: none;
    }
    nav .menu.active {
        display: flex;
    }
    nav ul li {
        width:100%;
        border-bottom:1px solid #333333;
    }
}
   


.hovpg :hover{
    font-weight: bold;
    color: orange;
}

.hovkg :hover{
    font-weight: bold;
    color: orange;
}

.hovbk :hover{
    font-weight: bold;
    color: orange;
}

.hovtw :hover{
    font-weight: bold;
    color: orange;
}

.hovac :hover {
    font-weight: bold;
    color: orange;
}

.hovc :hover{
    font-weight: bold;
    color: orange;
}

.igblack :hover{
    font-weight: bold;
    color: black
}

.blackhl :hover{
    font-weight: bold;
    color: black;

}

.redyt :hover {
    font-weight: bold;
    color: red
}


.black3wi :hover{
    font-weight: bold;
    color: black;
}

      .kartu {
        width: 700px;
        margin: 0 auto;
        margin-top: 70px;
            box-shadow: 0 1.25rem 0.75rem rgba(0,0,0,.03);
    transition: all .5s;
           background-color: black;
    border: solid 8px orange;
    border-top-right-radius: 80px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px: 
    border-bottom-right-radius: 0px;
      } 
      .kartu:hover {
        background-color: orange;
        border: solid 8px black;
        border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 0px;
      }
      .foto {
            padding: 20px;
    margin-left: 30px;
    margin-top: 10px;
      }
      tbody {
    font-size: 20px;
    font-weight:  300;
    color:white;
}
.biodata {
    margin-top: 30px;
}


@media screen and (max-width: 540px) {
    .kartu {
        width: 460px;
        margin: 0 auto;
        margin-top: 70px;
            box-shadow: 0 1.25rem 0.75rem rgba(0,0,0,.03);
    transition: all .5s;
           background-color: black;
    border: solid 8px orange;
    border-top-right-radius: 80px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px: 
    border-bottom-right-radius: 0px;
      } 
      .kartu:hover {
        background-color: orange;
        border: solid 8px black;
        border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 0px;
      }  
}


@media screen and (max-width: 414px) {
    .kartu {
        width: 340px;
        margin: 0 auto;
        margin-top: 70px;
            box-shadow: 0 1.25rem 0.75rem rgba(0,0,0,.03);
    transition: all .5s;
           background-color: black;
    border: solid 8px orange;
    border-top-right-radius: 80px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px: 
    border-bottom-right-radius: 0px;
      } 
      .kartu:hover {
        background-color: orange;
        border: solid 8px black;
        border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 0px;
      }  
}


@media screen and (max-width: 320px) {
   .kartu {
        width: 310px;
        margin: 0 auto;
        margin-top: 70px;
            box-shadow: 0 1.25rem 0.75rem rgba(0,0,0,.03);
    transition: all .5s;
           background-color: black;
    border: solid 8px orange;
    border-top-right-radius: 80px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px: 
    border-bottom-right-radius: 0px;
      } 
      .kartu:hover {
        background-color: orange;
        border: solid 8px black;
        border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 0px;
      }  
}

@media screen and (max-width: 360px) {
    .kartu {
        width: 310px;
        margin: 0 auto;
        margin-top: 70px;
            box-shadow: 0 1.25rem 0.75rem rgba(0,0,0,.03);
    transition: all .5s;
           background-color: black;
    border: solid 8px orange;
    border-top-right-radius: 80px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px: 
    border-bottom-right-radius: 0px;
      } 
      .kartu:hover {
        background-color: orange;
        border: solid 8px black;
        border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 0px;
      }  
} 

@media screen and (max-width: 280px) {
    .kartu {
        width: 260px;
        margin: 0 auto;
        margin-top: 70px;
            box-shadow: 0 1.25rem 0.75rem rgba(0,0,0,.03);
    transition: all .5s;
           background-color: black;
    border: solid 8px orange;
    border-top-right-radius: 80px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px: 
    border-bottom-right-radius: 0px;
      } 
      .kartu:hover {
        background-color: orange;
        border: solid 8px black;
        border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 0px;
      }  
}
    

